.finish__screen {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  height: 100%;
  width: 100%;
  top: 0;
  border-radius: inherit;
  background-color: rgba(76, 73, 73, 0.665);
  z-index: 999;
}

.hidden {
  display: none;
}

.start__screen_title {
  color: #fff;
}

.start__screen_button {
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(23, 71, 160);
}

.start__screen_button:hover {
  background-color: rgb(77, 108, 167);
}
